.env
.DS_Store

01_Python/03_E_TEST/02_Pandas/titanic_train.csv

01_Python/03_E_TEST/03_matplotlib/tips/

01_Python/03_E_TEST/04_seaborn/house/
01_Python/03_E_TEST/04_seaborn/tips/

01_Python/03_E_TEST/05_Preprocessing/titanic/

01_Python/03_E_TEST/06_machine_Learning/titanic/
01_Python/03_E_TEST/06_machine_Learning/titanic_forsubmisson.csv

01_Python/04_self_python/web_scraping_config.py
01_Python/04_self_python/01_selenium/venv/bin/
01_Python/04_self_python/01_selenium/venv/include/
01_Python/04_self_python/01_selenium/venv/lib/
01_Python/04_self_python/web_scraping_config.py

01_Python/04_self_python/02_http/venv/bin
01_Python/04_self_python/02_http/venv/include
01_Python/04_self_python/02_http/venv/lib/

01_Python/04_self_python/03_/data/
01_Python/04_self_python/03_/.env

