<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ item.name }}</title>
    <!-- {{ item.name }}」がデータベースのカラムデータを差し込む箇所 -->
<head>
<body>
<center>
<h2>商品検索結果</h2>
<table border=1>
    <tbody>
        <tr>
            <th>商品コード</th>
            <td>{{ item.code }}</td>
        </tr>
        <tr>
            <th>商品名</th>
            <td>{{ item.name }}</td>
        </tr>
        <tr>
            <th>価格</th>
            <td>{{ item.price }}円</td>
        </tr>
    </tbody>
</table>
<br>
</center>
</body>
</html>